/*Footer*/

footer ul li a {
  font-size: 3rem;
}

footer ul li a:hover {
  color: #757575;
}

.foot {
  justify-content: space-between;
  background-color: white;
  margin-top: 5rem;
}

.foot__list {
  text-align: center;
}
.foot__bar {
  color: #000;
  text-decoration: none;
  margin-top: 0 auto;
}
.foot__text {
  text-align: center;
}
