@use "../base/variables" as v;
@use "../base/mixins" as m;

.contact-me {
  background-image: url(../../../imagenes/wepik-20211121-16457.jpeg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: v.$colorPrimario;
  margin: -25rem auto 0 auto;
  width: 95%;
  padding: 5rem;
  .form__text {
    font-size: 1.5rem;
    font-weight: map-get(v.$font-weights, bold);
  }
}

.camp {
  display: flex;
  margin-bottom: 2rem;
  text-align: right;
  gap: 1.5rem;
  .camp__label {
    flex: 0 0 9rem;
    padding-right: 1.5rem;
  }
  .camp__field {
    flex: 1;
    border: 1px solid v.$colorTerciario;
    .camp__field--textarea {
      height: 15rem;
    }
  }
}

.button {
  display: block;
  color: v.$colorPrimario;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: map-get(v.$font-weights, bold);
  margin-bottom: 2rem;
  border: none;
  background-color: v.$colorTerciario;
  &:hover {
    cursor: pointer;
    background-color: v.$colorSecundario;
  }
  .button--first {
    background-color: v.$colorTerciario;
  }
}

.info__contact {
  background-color: v.$colorCuarto;
  padding: 2rem;
  color: v.$colorSecundario;
  font-weight: map-get(v.$font-weights, bold);
}

input:focus {
  background-color: v.$colorCuarto;
}
