@use "../base/variables" as v;
@use "../base/mixins" as m;

/*Index*/

.webbody {
  height: 60rem;
  text-align: center;
  color: v.$colorPrimario;
  background-image: url(/imagenes/wepik-20211121-1699.png);
  .webbody__tittle {
    color: v.$colorPrimario;
    @extend %displayBlock;
    padding-top: 15rem;
    padding-bottom: 7rem;
    line-height: 10rem;
    font-weight: map-get(v.$font-weights, medium);
    font-size: 8rem;
  }
}

p {
  text-align: center;
  line-height: 2rem;
}

.contactbutton {
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: v.$colorPrimario;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: v.$colorTerciario;
    box-shadow: 0px 15px 20px rgb(133, 115, 115) (46, 229, 157, 0.4);
    transform: translateY(-7px);
    cursor: pointer;
  }
  .contactbutton__text {
    color: v.$colorSecundario;
    font-weight: map-get(v.$font-weights, medium);
    font-size: 2rem;
    font-family: v.$fuente_principal;
    &:hover {
      color: v.$colorPrimario;
    }
  }
}

@include m.desktop {
  .webbody__tittle {
    display: block;
    margin: 0 auto;
    padding-top: 15rem;
    font-size: 8rem;
  }
}
