@use "../base/variables" as v;
@use "../base/mixins" as m;

.titulo-projects {
  font-size: 3rem;
  height: 15rem;
  margin: 0rem;
  padding-top: 4rem;
  text-align: center;
}

.portfolio {
  width: 36rem;
  height: 60rem;
  .portfolio__img {
    height: 35rem;
    width: 35rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    object-fit: cover;
  }
}

.card {
  margin: 3rem;
  display: block;
  margin: 2rem auto;
  &:hover {
    transform: scale (2, 2);
    z-index: 100;
    box-shadow: 10px 10px 5px -3px rgba(156, 154, 154, 0.54);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(156, 154, 154, 0.54);
    -moz-box-shadow: 10px 10px 5px -3px rgba(156, 154, 154, 0.54);
  }
}

.btn {
  display: block;
  color: v.$colorPrimario;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  background-color: #757575;
  &:hover {
    color: #000;
  }
}

@media (min-width: 768px) {
  .portfolio__gal {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 5rem;
  }
}
